#cart-container {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.335);
    width: 100%;
    height: 100%;
    display: flex;
}

.backdrop {
    width: 70%;
}

.cart {
    background-color: var(--white);
    width: 30%;
}