#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--primary);
    color: var(--font-color);
    position: sticky;
    top: 0;
}

.header-title {
    font-weight: 800;
    font-size: 2rem;
}

.text {
    font-weight: 800;
    font-size: 1.2rem;
}

.cart {
    font-size: 2rem;
}

a {
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--light-font-color);
}
